<section *subscribe="updateProductMutation.result$ as updateProductMutation" class="pb-4">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">
      Change product price
    </h1>
    <a class="btn btn-neutral" routerLink="/products">Back</a>
  </div>

  <div class="divider"></div>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="w-full max-w-lg mx-auto space-y-2">

    <app-input formControlName="price" type="number" label="New price" textError="This field is required"
      [invalid]="inputPriceError" />

    <div>
      <button [disabled]="updateProductMutation.isLoading" type="submit" class="btn btn-neutral btn-block">
        <span *ngIf="updateProductMutation.isLoading" class="loading loading-spinner"></span>
        Confirm
      </button>
    </div>
  </form>

</section>
